<div class="header-nav">
   <div class="header-nav-navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-toggleable-md navbar-light header-nav-navbar">
        <div class="navbar-brand">
         <img src="/assets/logo.svg" class="header-nav-logo" alt="Amway logo" />
        </div>
        <ul class="header-nav-items">
            <li class="header-nav-item hidden-sm-down">{{ myLanguage }}</li>
            <li class="header-nav-item hidden-sm-down">{{ myCountry }}</li>
            <li class="header-nav-item"><a href="#" class="header-nav-language-settings" title="{{ 'global.language-settings-label' | translate}}"><span class="sr-only">{{ 'global.language-settings-label' | translate}} </span><span class="svg-icon svg-icon-cog" (click)="open()"></span></a></li>
          </ul>
      </nav>
    </div>
   </div>
  <div class="container">
    <h1 i18n class="header-nav-header">{{ 'global.faa-2-1' | translate}}</h1>
  </div>
</div>