.header-nav {
  position: relative;

  &-navbar {
    &-wrapper {
      background-color: $white;
      border-bottom: .0625rem solid $amway-grey-light;
      margin-bottom: 1rem;
    }
  }

  &-logo {
    max-width: 5rem;
    width: auto;

    // make sure IE doesn't skew the image
    @media all and (-ms-high-contrast:none) {
      width: 100%;
    }

    @include media-query-bp($bp3) {
      margin-left: -.9375rem;
    }
  }

  &-header {
    font-size: 1.75rem;
    font-weight: 400;
  }

  &-items {
    display: block;
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: .9375rem;
  }

  &-item {
    color: $amway-grey-medium;
    display: inline-block;
    font-size: 1rem;
    padding-left: .5625rem;
    padding-right: .5rem;
    position: relative;

    &:first-child {
      &:after {
        background-color: $amway-grey-light;
        content: '';
        height: 70%;
        position: absolute;
        right: 0;
        top: 20%;
        width: .0625rem;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-language-settings {
    text-indent: -9999rem;
  }

  .svg-icon-cog {
    opacity: .3;
    position: relative;
    top: .25rem;

    &:hover {
      opacity: .8;
    }
  }
}
