.welcome-banner {
  background-image: url('/assets/welcomeBanner-mobile.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  margin-bottom: 1rem;
  margin-left: -.9375rem;
  margin-right: -.9375rem;
  min-height: 17.1875rem;
  padding: 1.5625rem;
  position: relative;

  @include media-query-bp($bp3) {
    background-image: url('/assets/welcomeBanner.png');
    border-radius: .1875rem;
    min-height: 17.1875rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 45%;
  }

  &-header {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 2rem;

    &:before {
      background-image: url('/assets/icon-blue-bar.svg');
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 1.25rem;
      margin-bottom: .25rem;
      width: 5.875rem;
    }
  }

  &-btn {
    background-color: $amway-orange;
    color: $white;
    display: block;
    font-family: $condensed-family;
    font-weight: 700;
    margin-bottom: .5rem;

    @include media-query-bp($bp3) {
      display: inline-block;
      margin-right: 1rem;
      width: 9rem;
    }
  }
}
