<div class="container">
  <div class="welcome-banner">
    <h2 class="welcome-banner-header">{{ 'global.faa-welcome-1' | translate}}</h2>
    <div class="welcome-banner-btns">
      <a class="btn welcome-banner-btn" href="javascript:void(0)" role="button" (click)="open(content)">{{ 'global.faa-welcome-2' | translate}}</a>
      <a class="btn welcome-banner-btn" href="{{ 'global.help-pdf-url' | translate}}" role="button" target="_blank" download>{{ 'global.faa-welcome-3' | translate}}</a>
    </div>
  </div>
</div>
<template #content let-c="close" let-d="dismiss" class="col-lg-12">
  <div class="modal-header modal-header-no-text">
    <button type="button" class="close video-modal-close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body video-modal-body">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe allowfullscreen
      webkitallowfullscreen
      mozallowfullscreen
      [src]="videoUrl"></iframe>
    </div>
  </div>
</template>