.progress-indicator {
  font-family: $condensed-family;
  font-weight: bold;
  line-height: 1rem;
  margin: 0;
  padding: 0 .375rem 0 0;

  @include media-query-bp($bp3) {
    margin-bottom: 1rem;
  }

  @include media-query-bp($bp4) {
    margin-bottom: 2.25rem;
  }
  &-number {
    display: table-cell;
    font-size: 1.625rem;
    height: 100%;
    padding-right: .4375rem;
    vertical-align: middle;
    width: 1.75rem;

    @include media-query-bp($bp3) {
      font-size: 2.5rem;
    }
  }

  &-text {
    display: none;

    @include media-query-bp($bp4) {
      display: table-cell;
      height: 100%;
      max-width: 10rem;
      text-transform: uppercase;
      vertical-align: middle;
    }

    &-container {
      display: table;
      height: 100%;
    }
  }

  &-checkmark {
    background-color: $amway-green;
    border-radius: 50%;
    color: $white;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: .125rem;
    width: 0;

    &-container {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
    }
  }

  &-item {
    background-color: $amway-green;
    color: $white;
    display: inline-block;
    font-size: .875rem;
    height: 4.375rem;
    list-style-type: none;
    margin: 0 0 .5rem .625rem;
    padding: 0 .375rem 0 2.25rem;
    position: relative;
    width: calc(25% - 1rem);

    @include media-query-bp($bp3) {
      margin-bottom: 0;
      padding-left: 2.6875rem;
    }

    &:nth-child(1) {
      margin-left: 0;
      padding-left: 1.25rem;
      width: 14%;
      z-index: 4;

      &:before {
        display: none;
      }

      @include media-query-bp($bp3) {
        padding-left: 2.25rem;
        width: calc(25% - 1rem);
      }
    }

    &:nth-child(2) {
      z-index: 3;
    }

    &:nth-child(3) {
      z-index: 2;
    }

    &:nth-child(4) {
      z-index: 1;
    }

    &:after {
      // border left controls width, top and bottom control height
      border-bottom: 2.0625rem solid transparent;
      border-left: 1.5rem solid $amway-green;
      border-top: 2.25rem solid transparent;
      content: '';
      display: inline-block;
      position: absolute;
      right: -1.5rem;
      top: 0;
      width: 0;
      z-index: -1;
    }

    &:before {
      // border left controls width, top and bottom control height
      border-bottom: 2.0625rem solid transparent;
      border-left: 1.5rem solid $white;
      border-top: 2.25rem solid transparent;
      content: '';
      display: inline-block;
      left: 0;
      position: absolute;
      top: 0;
      width: 0;
    }

    &-inactive {
      background-color: $amway-grey;

      &:after {
        border-left-color: $amway-grey;
      }
    }

    &-complete {
      background-color: $amway-green-light;
      color: $amway-green;

      &:after {
        border-left-color: $amway-green-light;
      }

      .progress-indicator-number {
        display: none;
      }

      .progress-indicator-checkmark {
        height: 1.75rem;
        min-height: 1.75rem;
        min-width: 1.75rem;
        opacity: 1;
        width: 1.75rem;
        z-index: 10;

        &-container {
          padding-right: .4375rem;
          width: auto;
        }
      }
    }
  }
}

@include media-query-bp($bp3) {
  .language-russian,
  .language-ukrainian {
    .progress-indicator {
      .progress-indicator-item {
        font-size: .7rem;
        height: 7rem;

        &:after {
          // border left controls width, top and bottom control height
          border-bottom-width: 3.5rem;
          border-left-width: 1.5rem;
          border-top-width: 3.5rem;
        }

        &:before {
          border-bottom-width: 3.5rem;
          border-left-width: 1.5rem;
          border-top-width: 3.5rem;
        }
      }
    }
  }

  .language-ukrainian {
    .progress-indicator-item {
      &:nth-child(1) {
        padding-left: .875rem;
      }
    }
  }

  .language-turkish {
    .progress-indicator {
      .progress-indicator-item {
        font-size: .75rem;
      }
    }
  }
}