<ul class="progress-indicator">
  <li class="progress-indicator-item"
    [ngClass]="{
      'progress-indicator-item-inactive': isInactive(1),
      'progress-indicator-item-complete': isComplete(1)
      }">
      <div class="progress-indicator-text-container">
        <div class="progress-indicator-number">1</div>
        <div class="progress-indicator-checkmark-container">
          <div class="progress-indicator-checkmark">
            <img src="/assets/icon-checkmark.svg" />
          </div>
        </div>
        <div class="media-body progress-indicator-text">
          {{ 'global.faa-progress-bar-1' | translate}}
        </div>
      </div>
  </li>
  <li class="progress-indicator-item"
      [ngClass]="{
      'progress-indicator-item-inactive': isInactive(2),
      'progress-indicator-item-complete': isComplete(2)
      }">
      <div class="progress-indicator-text-container">
        <div class="progress-indicator-number">2</div>
        <div class="progress-indicator-checkmark-container">
          <div class="progress-indicator-checkmark">
            <img src="/assets/icon-checkmark.svg" />
          </div>
        </div>
        <div class="media-body progress-indicator-text">
          {{ 'global.faa-progress-bar-2' | translate}}
        </div>
      </div>
  </li>
  <li class="progress-indicator-item"
      [ngClass]="{
      'progress-indicator-item-inactive': isInactive(3),
      'progress-indicator-item-complete': isComplete(3)
      }">
      <div class="progress-indicator-text-container">
        <div class="progress-indicator-number">3</div>
        <div class="progress-indicator-checkmark-container">
          <div class="progress-indicator-checkmark">
            <img src="/assets/icon-checkmark.svg" />
          </div>
        </div>
        <div class="media-body progress-indicator-text">
          {{ 'global.faa-progress-bar-3' | translate}}
        </div>
      </div>
  </li>
  <li class="progress-indicator-item progress-indicator-item-inactive"
    [ngClass]="{
      'progress-indicator-item-inactive': isInactive(4),
      'progress-indicator-item-complete': isComplete(4)
      }">
      <div class="progress-indicator-text-container">
        <div class="progress-indicator-number">4</div>
        <div class="progress-indicator-checkmark-container">
          <div class="progress-indicator-checkmark">
            <img src="/assets/icon-checkmark.svg" />
          </div>
        </div>
        <div class="media-body progress-indicator-text">
          {{ 'global.faa-progress-bar-4' | translate}}
        </div>
      </div>
  </li>
</ul>