<div class="projected-bonus-calculation-diagram">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-uppercase text-condensed-font-family projected-bonus-calculation-diagram-header">{{ 'projected-bonus-calculation-diagram.projected-bonus-calculation-diagram-header' | translate}}</h3>
    </div>
    <div class="panel-body">
      <div class="projected-bonus-calculation-diagram-figures">
        <div class="projected-bonus-calculation-diagram-figure projected-bonus-calculation-diagram-figure-1">
          <div class="projected-bonus-calculation-diagram-icon">
            <div class="svg-icon svg-icon-calendar"></div>
          </div>
          <p class="projected-bonus-calculation-diagram-figure-label">{{ 'projected-bonus-calculation-diagram.projected-bonus-calculation-diagram-1' | translate}}</p>
        </div>
        <div class="projected-bonus-calculation-diagram-figure projected-bonus-calculation-diagram-figure-2">
          <div class="projected-bonus-calculation-diagram-icon">
            <div class="svg-icon svg-icon-multiplier"></div>
          </div>
          <p class="projected-bonus-calculation-diagram-figure-label">{{ 'projected-bonus-calculation-diagram.projected-bonus-calculation-diagram-2' | translate}}</p>
        </div>
        <div class="projected-bonus-calculation-diagram-figure projected-bonus-calculation-diagram-figure-3">
          <div class="projected-bonus-calculation-diagram-icon">
           <div class="svg-icon svg-icon-moneybag"></div>
          </div>
          <p class="projected-bonus-calculation-diagram-figure-label">{{ 'projected-bonus-calculation-diagram.projected-bonus-calculation-diagram-3' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>