.projected-bonus-calculation-diagram {
  font-size: 1.3125rem;

  @include media-query-bp($bp4) {
    padding-bottom: 1.25rem;
  }

  &-header {
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
  }

  &-figures {
    position: relative;

    @include media-query-bp($bp4) {
      display: table;
      width: 100%;
    }

    &:before {
      color: $amway-grey-medium;
      content: 'x';
      display: none;
      font-family: $condensed-family;
      font-size: 2.25rem;
      font-weight: 600;
      position: absolute;
      left: 29%;
      top: .25rem;

      @include media-query-bp($bp4) {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }
    }

    &:after {
      color: $amway-grey-medium;
      content: '=';
      display: none;
      font-family: $condensed-family;
      font-size: 2.25rem;
      font-weight: 600;
      position: absolute;
      left: 58%;
      top: .25rem;

      @include media-query-bp($bp4) {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }
    }
  }

  &-icon {
    display: table-cell;
    height: 100%;
    padding-right: .5rem;
    vertical-align: middle;
  }

  &-figure {
    line-height: 1.2;
    position: relative;

    @include media-query-bp($bp4) {
        float: left;
        width: 33%;
    }

    &-label {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
    }

    &-1 {
      @include media-query-bp($bp4) {
        padding-right: 5%;
      }

      &:after {
        color: $amway-grey-medium;
        content: 'x';
        font-family: $condensed-family;
        font-size: 2.25rem;
        font-weight: 600;
        margin: 0 0 1.5rem 1.5rem;
        position: relative;
        top: -.5rem;

        @include media-query-bp($bp4) {
          display: none;
        }
      }
    }

    &-2 {
      @include media-query-bp($bp4) {
        padding-left: 2.5%;
        padding-right: 5%;
      }

      &:after {
        clear: both;
        color: $amway-grey-medium;
        content: '=';
        display: block;
        font-family: $condensed-family;
        font-size: 2.25rem;
        font-weight: 600;
        margin: 0 0 .75rem 1.5rem;

        @include media-query-bp($bp4) {
          display: none;
        }
      }

    }

    &-3 {
      &:after {
        background-color: $amway-grey-medium;
        clear: both;
        content: '';
        display: block;
        height: .0625rem;
        margin: 1.5rem 0 1rem;
        width: 100%;

        @include media-query-bp($bp4) {
          display: none;
        }
      }
    }
  }
}
