<div class="container">
  <footer class="footer-component">
    <p>{{ 'global.faa-2-2' | translate}}</p>
    <p class="text-center footer-component-copyright">&copy; {{ 'global.faa-2-3' | translate}}</p>
  </footer>
</div>