.footer-component {
  color: $amway-grey;
  font-size: .875rem;
  margin-top: 3.125rem;
  font-style: italic;

  &-copyright {
    font-style: normal;
  }

  &-nav {
    &-item {
      display: inline-block;

      &-link {
        color: $amway-grey;
        display: inline-block;
      }

      &:not(:last-child) {
        &:after {
          color: $amway-grey;
          content: '|';
          display: inline-block;
          height: 100%;
          margin-left: 1rem;
          margin-right: 1rem;
          width: .0625rem;
        }
      }
    }
  }
}
