<!--<div class="projected-bonus-calculation">
    <h3>{{ 'monthly-core-plan.faa-5-2' | translate}}</h3>
    <p>{{ 'monthly-core-plan.faa-5-3' | translate}}</p>
    <div class="row">
       <div class="col-md-7">
          <div class="form-group">
             <div class="input-group projected-bonus-calculation-input-group">
                <span class="input-group-addon projected-bonus-calculation-input-group-addon projected-bonus-calculation-currency-symbol"> {{ 'global.currency-symbol' | translate}}</span>
                <input OnlyNumber="true" type="text" class="form-control form-control-lg projected-bonus-calculation-input" aria-label="Amount (to the nearest dollar)" (focusout)="onBonusChange($event)" [(ngModel)]="gmcBonus">
                <span class="input-group-addon projected-bonus-calculation-input-group-addon"> {{ 'global.currency-abbreviation' | translate}}</span>
             </div>
          </div>
          <p>{{ 'monthly-core-plan.faa-5-4' | translate}}</p>
          <ol class="projected-bonus-calculation-help">
             <li class="projected-bonus-calculation-help-step">
                <div class="media">
                   <div class="mr-3">
                      <p class="projected-bonus-calculation-help-step-label"><strong>{{ 'monthly-core-plan.faa-5-4-1-label' | translate}}</strong></p>
                   </div>
                   <div class="media-body">
                      <p>{{ 'monthly-core-plan.faa-5-4-1-body' | translate}}</p>
                   </div>
                </div>
             </li>
             <li class="projected-bonus-calculation-help-step">
                <div class="media">
                   <div class="mr-3">
                      <p class="projected-bonus-calculation-help-step-label"><strong>{{ 'monthly-core-plan.faa-5-4-2-label' | translate}}</strong></p>
                   </div>
                   <div class="media-body">
                      <p>{{ 'monthly-core-plan.faa-5-4-2-body' | translate}}</p>
                   </div>
                </div>
             </li>
             <li class="projected-bonus-calculation-help-step">
                <div class="media">
                   <div class="mr-3">
                      <p class="projected-bonus-calculation-help-step-label"><strong>{{ 'monthly-core-plan.faa-5-4-3-label' | translate}}</strong></p>
                   </div>
                   <div class="media-body">
                      <p>{{ 'monthly-core-plan.faa-5-4-3-body' | translate}}</p>
                   </div>
                </div>
             </li>
          </ol>
       </div>
    </div>
</div>-->