.projected-bonus-calculation {

  &-currency-symbol {
    font-size: 1.9375rem;
  }

  &-input {
    background: $amway-grey-light;
    border-radius: 0;
    font-family: $condensed-family;
    font-size: 1.9375rem;
    text-align: right;

    @include media-query-bp($bp3) {
       max-width: 11rem;
    }

    &-group {
      &-addon {
        background-color: transparent;
        border-color: transparent;
        font-family: $condensed-family;
        font-weight: 700;
      }
    }
  }

  &-help {
    font-weight: 600;
    padding: 0;

    &-step {
      list-style: none;

      &-label {
        font-family: $condensed-family;
      }
    }
  }
}
