<div class="panel panel-default">
  <div class="clearfix">
    <div class="projected-bonus">
      <div>
        <div class="projected-bonus-header">
          <h3 class="projected-bonus-title hidden-md-down">{{ 'projected-bonus.faa-6-table-label-1' | translate}}</h3>
        </div>
        <div class="projected-bonus-monthly-average">
          <div class="projected-bonus-calculation-diagram-figure">
            <div class="projected-bonus-calculation-diagram-icon">
              <div class="svg-icon svg-icon-calendar"></div>
            </div>
            <p class="projected-bonus-calculation-diagram-figure-label">{{ 'projected-bonus-calculation-diagram.projected-bonus-calculation-diagram-1' | translate}}</p>
          </div>
          <div class="form-group projected-bonus-form-group">
             <div class="input-group projected-bonus-input-group">
                <span *ngIf="myCurrencyPrefix" class="input-group-addon projected-bonus-input-group-addon projected-bonus-currency-symbol"> {{ myCurrencyPrefix }}</span>

                <input OnlyNumber="true"
                  type="text"
                  maxlength="9"
                  class="form-control form-control-lg projected-bonus-input"
                  aria-label="Amount (to the nearest dollar)"
                  myCurrencyFormatter
                  [(ngModel)]="MonthlyBonus"
                  prefix=""
                  [numberSeparator]="myCurrencyNumberSeparator"
                  [decimalSeparator]="myCurrencyDecimalSeparator"
                  numberOfDecimalPlaces="0"
                  suffix=""
                  value="{{ MonthlyBonus }}">

                <span *ngIf="myCurrencySuffix" class="input-group-addon projected-bonus-input-group-addon projected-bonus-currency-symbol"> {{ myCurrencySuffix }}</span>
                <span class="input-group-addon projected-bonus-input-group-addon projected-bonus-input-group-addon-abbreviation"> {{ myCurrencyCode }}</span>
             </div>
          </div>
        </div>
        <div class="projected-bonus-projected-multiplier-and-bonus-container">
          <div class="projected-bonus-projected-multiplier">
            <div class="projected-bonus-calculation-diagram-figure">
              <div class="projected-bonus-calculation-diagram-icon">
                <div class="svg-icon svg-icon-multiplier"></div>
              </div>
              <p class="projected-bonus-calculation-diagram-figure-label">{{ 'projected-bonus-calculation-diagram.projected-bonus-calculation-diagram-2' | translate}}</p>
            </div>
            <div class="projected-bonus-projected-multiplier-amount">
             <span *ngIf="currentLanguage == 'turkish'">%</span>
             {{ ProjectedMultiplier }}
             <span *ngIf="!(currentLanguage == 'turkish')">%</span>
            </div>
            <div class="media hidden-lg-up clearfix projected-bonus-aside-container">
      				<div class="media-body">
      					<p class="text-aside projected-bonus-aside-1" i18n="">{{ 'projected-bonus.faa-6-2' | translate}}</p>
      				</div>
      				<div class="ml-2 svg-icon svg-icon-arrow svg-icon-flip-horizontal-and-vertical"></div>
      			</div>
          </div>
          <div class="projected-bonus-bonus">
            <div class="projected-bonus-calculation-diagram-figure">
              <div class="projected-bonus-calculation-diagram-icon">
               <div class="svg-icon svg-icon-moneybag"></div>
              </div>
              <p class="projected-bonus-calculation-diagram-figure-label">{{ 'projected-bonus-calculation-diagram.projected-bonus-calculation-diagram-3' | translate}}</p>
            </div>
            <div class="projected-bonus-bonus-amount"
                [ngClass]="{'projected-bonus-bonus-amount-xl': (MonthlyBonus * ProjectedMultiplier/100) > 9999999 }">
                {{ MonthlyBonus * ProjectedMultiplier / 100 | myCurrency: myCurrencyPrefix:myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'2':myCurrencySuffix:false:false:false }}
            </div>
          </div>
          <div class="media hidden-md-down projected-bonus-aside-container">
    				<div class="mr-2 svg-icon svg-icon-arrow svg-icon-flip-vertical-only"></div>
    				<div class="media-body">
    					<p class="text-aside projected-bonus-aside-1" i18n="">{{ 'projected-bonus.faa-6-2' | translate}}</p>
    				</div>
    			</div>
        </div>
      </div>
    </div>
    <div class="projected-bonus-super-legs-rows">

      <div class="clearfix projected-bonus-super-legs-row" *ngIf= "superLegsLessthan5 >= 2">
        <div class="projected-bonus-header">
          <h3 class="projected-bonus-title">{{ 'projected-bonus.faa-6-table-label-5' | translate}}</h3>
        </div>

        <div class="projected-bonus-super-legs">
          <div class="projected-bonus-super-legs-title">{{ 'projected-bonus.faa-6-table-label-6' | translate }}</div>
          <div class="projected-bonus-super-legs-number-container">
            <span class="icon icon-ribbon"></span>
            <span class="projected-bonus-super-legs-number">
              {{ superLegsLessthan5 }}
            </span>
          </div>
        </div>
        <div class="projected-bonus-super-legs-multiplier-and-bonus-container">
          <div class="projected-bonus-super-legs-multiplier">
            <div class="projected-bonus-super-legs-multiplier-help">{{ 'projected-bonus.faa-6-table-label-7' | translate }} <span class="svg-icon svg-icon-i"></span> <span class="projected-bonus-super-legs-multiplier-help-text">{{ 'projected-bonus.faa-6-3' | translate }}</span></div>
            <div class="projected-bonus-super-legs-multiplier-amount">
            {{ 20000 *  myConversionFactor  | myCurrency: myCurrencyPrefix:myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'2':myCurrencySuffix:false:false:false }}
            </div>
            <div class="projected-bonus-super-legs-multiplier-caption">{{ 'projected-bonus.faa-6-table-label-8' | translate }}</div>
          </div>
          <div class="projected-bonus-super-legs-bonus">
            <div class="projected-bonus-super-legs-bonus-amount">
              {{  superLegsLessthan5  * (20000 * myConversionFactor) | myCurrency: myCurrencyPrefix:myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'0':myCurrencySuffix:false:false:false }}
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix projected-bonus-super-legs-row" *ngIf= "superLegsMorethan5 > 0">
        <div class="projected-bonus-header">
          <!--/ SHAME: keep this div for spacing /-->
        </div>
        <div class="projected-bonus-super-legs">
          <div class="projected-bonus-super-legs-title">{{ 'projected-bonus.faa-6-table-label-6' | translate }}</div>
          <div class="projected-bonus-super-legs-number-container">
            <span class="icon icon-ribbon"></span>
            <span class="projected-bonus-super-legs-number">
              {{ superLegsMorethan5 }}
            </span>
          </div>
        </div>
        <div class="projected-bonus-super-legs-multiplier-and-bonus-container">
          <div class="projected-bonus-super-legs-multiplier">
            <div class="projected-bonus-super-legs-multiplier-help">{{ 'projected-bonus.faa-6-table-label-7' | translate }} <span class="svg-icon svg-icon-i"></span> <span class="projected-bonus-super-legs-multiplier-help-text">{{ 'projected-bonus.faa-6-3' | translate }}</span></div>
            <div class="projected-bonus-super-legs-multiplier-amount">
              {{ 40000 * myConversionFactor | myCurrency: myCurrencyPrefix:myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'2':myCurrencySuffix:false }}
            </div>
            <div class="projected-bonus-super-legs-multiplier-caption">{{ 'projected-bonus.faa-6-table-label-9' | translate }}</div>
          </div>
          <div class="projected-bonus-super-legs-bonus">
            <div class="projected-bonus-super-legs-bonus-amount">

              {{  superLegsMorethan5  * (40000 * myConversionFactor)  | myCurrency: myCurrencyPrefix:myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'0':myCurrencySuffix:false:false:false }}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="projected-bonus-super-legs-total" *ngIf="superLegsLessthan5 != 0">
      <div class="projected-bonus-super-legs-total-label">{{ 'projected-bonus.faa-6-table-label-10' | translate }}</div>
      <div class="projected-bonus-super-legs-total-number"> {{myCurrencySymbol}} {{ (superLegsLessthan5  * (20000 * myConversionFactor)) + (superLegsMorethan5  * (40000 * myConversionFactor)) | myCurrency: myCurrencyPrefix:myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'2':myCurrencySuffix }}</div>
    </div>

    <div class="projected-bonus-grand-total">
      <div class="projected-bonus-grand-total-label">{{ 'projected-bonus.faa-6-table-label-11' | translate }} {{ myCurrencyCode }}</div>
      <div class="projected-bonus-grand-total-number">
        <span *ngIf="myCurrencyPrefix" class="projected-bonus-grand-total-symbol" style="font-size:25px;font-weight:400;">{{ myCurrencyPrefix }}</span>
        {{ ((MonthlyBonus * ProjectedMultiplier)/100) +(superLegsLessthan5  * (20000 * myConversionFactor)) + (superLegsMorethan5  * (40000 * myConversionFactor)) | myCurrency: '':myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'2':'':true:false:false }}

        <span *ngIf="myCurrencySuffix" class="projected-bonus-grand-total-symbol" style="font-size:25px;font-weight:400;">{{ myCurrencySuffix }}</span>
      </div>
    </div>
  </div>
  <div class="row">
		<div class="col-lg-9 projected-bonus-old-disclaimer">
			<p>{{ 'projected-bonus.faa-6-4-1' | translate}}</p>
			<p>{{ 'projected-bonus.faa-6-4-2' | translate}}</p>
			<p>{{ 'projected-bonus.faa-6-4-3' | translate}}</p>
		</div>
	</div>

</div>