.projected-bonus {
  position: relative;

  // overriding diagram styles
  .svg-icon {
    height: 2.5rem;
    width: 2.5rem;
  }

  .projected-bonus-calculation-diagram-figure {
    display: inline-block;
    float: none;
    margin-bottom: .5rem;
    width: 50%;

    @include media-query-bp($bp4) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 75%;
      width: auto;
    }

    &-label {
      font-size: .875rem;
      font-weight: 600;
    }
  }

  &-header {
    margin-bottom: 1.25rem;

    &:empty {
      height: 0;
    }

    @include media-query-bp($bp4) {
      display: inline-block;
      vertical-align: top;
      width: 26%;
    }
  }

  &-title {
    font-family: $condensed-family;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
  }

  &-monthly-average {
    @include media-query-bp($bp4) {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 33%;
    }

    @include ie-11-only () {
      &:after {
        display: none;

        @include media-query-bp($bp4) {
          bottom: 2.25rem;
          color: $amway-grey-medium;
          content: 'x';
          display: block;
          font-family: $condensed-family;
          font-size: 2.25rem;
          position: absolute;
          right: -10%;
          text-align: center;
        }
      }
    }
  }

  &-projected-multiplier-and-bonus-container {
    @include media-query-bp($bp4) {
      display: inline-block;
      vertical-align: top;
      width: 40%;
    }
  }

  &-projected-multiplier {
    @include media-query-bp($bp4) {
      display: inline-block;
      vertical-align: top;
      width: 54%;
    }

    &-amount {
      color: $amway-grey-dark;
      font-weight: 300;
      display: inline-block;
      float: right;
      font-size: 1.9375rem;
      font-family: $condensed-family;
      letter-spacing: -.125rem;
      margin-bottom: 0;
      text-align: right;
      width: 44%;

      @include media-query-bp($bp4) {
        display: block;
        float: none;
        padding-top: .3125rem;
        position: relative;
        text-align: center;
        width: 100%;

        &:after {
          color: $amway-grey-medium;
          content: '=';
          display: block;
          font-family: $condensed-family;
          font-size: 2.25rem;
          padding-right: 0;
          position: absolute;
          right: 0;
          text-align: center;
          top: 0;
        }
      }
    }
  }

  &-bonus {
    @include media-query-bp($bp4) {
      display: inline-block;
      vertical-align: top;
      width: 45%;

      .projected-bonus-calculation-diagram-figure {
        margin-right: 0;
      }
    }

    &-amount {
      float: right;
      font-family: $condensed-family;
      font-size: 1.9375rem;
      font-weight: 300;
      letter-spacing: -.125rem;
      text-align: right;

      @include media-query-bp($bp4) {
        float: none;
        padding-top: .3125rem;
        text-align: center;
      }

      &-xl {
        font-size: 1.5rem;

        @include media-query-bp($bp4) {
          padding-top: .625rem;
        }
      }
    }
  }

  &-super-legs {
    position: relative;

    @include media-query-bp($bp4) {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      width: 33%;

      &:after {
        position: absolute;
        right: 0;
        text-align: center;
        top: .9375rem;
      }
    }

    &:after {
      clear: both;
      color: $amway-grey-medium;
      content: 'x';
      display: block;
      font-family: $condensed-family;
      font-size: 2.25rem;
      text-align: right;
    }

    &-multiplier-and-bonus-container {
      @include clearfix;

      @include media-query-bp($bp4) {
        display: inline-block;
        vertical-align: top;
        width: 40%;
      }
    }

    &-title {
      display: inline-block;
      font-size: .875rem;
      width: 45%;

      @include media-query-bp($bp4) {
        display: block;
        text-align: center;
        width: auto;
      }
    }

    &-rows {
      border-top: .0625rem solid $amway-grey-light;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    &-row {
      padding-bottom: 1rem;
      padding-top: 1rem;
      position: relative;

      @include media-query-bp($bp4) {
        &:not(:first-child) {
          // hide these elements without losing the spacing they provide
          .projected-bonus-super-legs-title,
          .projected-bonus-super-legs-multiplier-help {
            opacity: 0;
            pointer-events: none;
          }
        }
        &:not(:last-child) {
          &:after {
            display: none;
          }
        }
      }

      &:after {
        background-color: $amway-grey-light;
        bottom: 0;
        height: .0625rem;
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 100%;

        @include media-query-bp($bp4) {
          width: 67%;
        }

      }
    }

    &-number {
      font-family: $condensed-family;
      font-size: 1.9375rem;
      font-weight: 300;

      &-container {
        float: right;

        @include media-query-bp($bp4) {
          float: none;
        }
      }
    }

    &-total {
      @include clearfix;
      border-bottom: .0625rem solid $amway-grey-light;
      clear: both;
      padding-bottom: 1rem;

      @include media-query-bp($bp4) {
        border-bottom: 0;
        float: right;
      }

      &-label {
        border-right: .0625rem solid $amway-grey-light;
        display: inline-block;
        font-family: $condensed-family;
        font-size: .875rem;
        font-weight: 700;
        line-height: 1;
        padding-right: .5rem;
        text-align: right;
        text-transform: uppercase;
        vertical-align: middle;
        width: 35%;

        @include media-query-bp($bp4) {
          width: 10rem;
        }
      }

      &-number {
        display: inline-block;
        font-family: $condensed-family;
        font-size: 1.9375rem;
        font-weight: 400;
        letter-spacing: -.125rem;
        text-align: right;
        vertical-align: middle;
        width: 63%;

        @include media-query-bp($bp4) {
          width: 12.5rem;
        }
      }
    }
  }

  &-super-legs-multiplier {
    @include media-query-bp($bp4) {
      display: inline-block;
      vertical-align: middle;
      width: 54%;
    }

    &-amount {
      color: $amway-grey-dark;
      display: inline-block;
      float: right;
      font-family: $condensed-family;
      font-size: 1.9375rem;
      font-weight: 300;
      letter-spacing: -.125rem;
      margin-bottom: 0;
      text-align: right;
      width: 44%;

      @include media-query-bp($bp4) {
        display: block;
        float: none;
        position: relative;
        text-align: center;
        width: 100%;

        &:after {
          color: $amway-grey-medium;
          content: '=';
          display: block;
          font-family: $condensed-family;
          font-size: 2.25rem;
          padding-right: 0;
          position: absolute;
          right: 0;
          text-align: center;
          top: -.3125rem;
        }
      }
    }

    &-help {
      color: $amway-grey-dark;
      display: block;
      float: left;
      font-size: .875rem;
      position: relative;
      text-align: left;
      width: 45%;

      @include media-query-bp($bp4) {
        float: none;
        text-align: center;
        width: auto;
      }

      &-text {
        background: $white;
        border: .0625rem solid $amway-grey-dark;
        bottom: 100%;
        left: 0;
        opacity: 0;
        padding: .25rem;
        position: absolute;
        text-align: left;
        transition: opacity, .2s;
        visibility: hidden;
        width: 100%;
        z-index: 10;

        @include media-query-bp($bp4) {
          left: auto;
          margin-left: -1rem;
          width: 12.5rem;
        }
      }

      &:hover,
      &:active {
        .projected-bonus-super-legs-multiplier-help-text {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-caption {
      clear: both;
      float: right;
      font-size: .75rem;
      position: relative;
      text-align: right;
      width: 44%;

      &:after {
        bottom: 0;
        color: $amway-grey-medium;
        content: '=';
        display: block;
        font-family: $condensed-family;
        font-size: 2.25rem;
        right: 0;
        text-align: right;
      }

      @include media-query-bp($bp4) {
        float: none;
        text-align: center;
        width: auto;

        &:after {
          display: none;
        }
      }
    }
  }

  &-super-legs-bonus {
    clear: both;
    float: right;

    @include media-query-bp($bp4) {
      display: inline-block;
      float: none;
      vertical-align: middle;
      width: 45%;

      .projected-bonus-calculation-diagram-figure {
        margin-right: 0;
      }
    }

    &-amount {
      font-family: $condensed-family;
      font-size: 1.9375rem;
      font-weight: 300;
      letter-spacing: -.125rem;
      text-align: right;

      @include media-query-bp($bp4) {
        padding-top: .1875rem;
      }
    }
  }

  &-aside {
    &-container {
      padding-right: 1.25rem;
      padding-bottom: 2rem;
      position: relative;

      &:after {
        bottom: 0;
        color: $amway-grey-medium;
        content: '=';
        display: block;
        font-family: $condensed-family;
        font-size: 2.25rem;
        position: absolute;
        right: 0;
        text-align: right;
      }

      @include media-query-bp($bp4) {
        float: right;
        margin-top: .5rem;
        padding-bottom: 0;
        padding-right: 0;
        width: 75%;

        &:after {
          display: none;
        }
      }
    }

    &-1 {
      margin-top: 1.5rem;
    }
  }

  &-currency-symbol {
    font-size: 1.9375rem;
  }

  &-form {
    &-group {
      float: right;
      position: relative;

      @include media-query-bp($bp4) {
        display: inline-block;
        float: none;
      }

      &:after {
        color: $amway-grey-medium;
        content: 'x';
        display: block;
        font-family: $condensed-family;
        font-size: 2.25rem;
        text-align: right;

        @include media-query-bp($bp4) {
          position: absolute;
          right: -10%;
          text-align: center;
          top: 0;
        }

        @include ie-11-only () {
          @include media-query-bp($bp4) {
            display: none;
          }
        }
      }
    }
  }

  &-input {
    background: $amway-grey-light;
    font-family: $condensed-family;
    font-size: 1.9375rem;
    text-align: right;

    @include ie-11-only () {
      @include media-query-bp($bp4) {
        max-width: 11rem;
      }
    }

    &-group {
      &-addon {
        background-color: transparent;
        border-color: transparent;
        font-family: $condensed-family;
        font-weight: 300;

        &-abbreviation {
          font-size: 1.125rem;
          padding-right: 0;
          text-align: right;

          @include media-query-bp($bp4) {
            padding-right: .75rem;
            text-align: center;
          }
        }
      }
    }
  }

  &-grand-total {
    @include clearfix;
    clear: both;
    padding-bottom: 1rem;
    padding-top: 1rem;

    @include media-query-bp($bp4) {
      float: right;
    }

    &-label {
      display: block;
      font-family: $condensed-family;
      font-size: .875rem;
      font-weight: 700;
      line-height: 1;
      text-align: right;
      text-transform: uppercase;

      @include media-query-bp($bp4) {
        border-right: .0625rem solid $amway-grey-light;
        display: inline-block;
        padding-right: .5rem;
        vertical-align: middle;
        width: 10rem;
      }
    }

    &-symbol {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 300;
      position: relative;
      top: -.25rem;
    }

    &-number {
      color: $amway-green;
      font-family: $condensed-family;
      font-size: 2.375rem;
      font-weight: 700;
      letter-spacing: -.125rem;
      text-align: right;

      @include media-query-bp($bp4) {
        display: inline-block;
        vertical-align: middle;
        min-width: 12.5rem;
      }
    }
  }
}