<div class="reset-simulator">
  <div class="reset-simulator-reset">
    <p class="reset-simulator-reset-text">{{ 'global.reset-label' | translate}}</p>
    <button class="btn btn-default reset-simulator-reset-btn" (click)="open()">{{ 'global.reset-button' | translate}}</button>
  </div>
</div>