.reset-simulator {
  &-btn {
    display: block;
    font-family: $condensed-family;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: .75rem 2.625rem;
    text-align: center;
    width: 100%;

    @include media-query-bp($bp3) {
      display: inline-block;
      margin-bottom: .5rem;
      width: auto;
    }
  }

  &-modal-footer {
    flex-direction: column;

    @include media-query-bp($bp3) {
      flex-direction: row;
    }
  }

  &-reset {
    margin: 1.75rem auto 0;
    text-align: center;

    &-text {
      font-weight: 700;

      @include media-query-bp($bp3) {
        display: inline-block;
      }
    }

    &-btn {
      background: $white;
      border: $amway-blue 2px solid;
      color: $amway-blue;
      display: inline-block;
      font-family: $condensed-family;
      font-weight: 700;
      margin-left: auto;
      margin-right: auto;
      width: auto;

      @include media-query-bp($bp3) {
        margin-left: .625rem;
        margin-right: 0;
      }
    }
  }

}