<div class="container language-{{ currentLanguage }}" id="top">
   <div [ngSwitch]="componentToDisplay">
      <div class="bonus-simulator">
         <div *ngSwitchCase="1">
            <projected-bonus-calculation-diagram></projected-bonus-calculation-diagram>
            <div class="card bonus-simulator-card">
               <div class="card-block bonus-simulator-card-block">
                  <h4 class="text-uppercase text-condensed-font-family">{{ 'founders-platinum-legs.faa-3-1-intro-header' | translate}}</h4>
                  <p>{{ 'founders-platinum-legs.faa-3-2-intro-body' | translate}}</p>

                  <progress-indicator currentStep="1"></progress-indicator>

                  <h4 class="bonus-simulator-step-title hidden-lg-up">{{ 'global.faa-progress-bar-1' | translate}}</h4>

                  <p><strong>{{ 'founders-platinum-legs.faa-3-3-1' | translate}}</strong> <em>{{ 'founders-platinum-legs.faa-3-3-2' | translate}} {{ 'founders-platinum-legs.faa-3-3-3' | translate}}</em></p>

                  <founder-platinum-legs-slider (onSliderUpdate)="emitSliderValue($event)" [faaPointsSelectedTab]="faaPointsSelectedTab"></founder-platinum-legs-slider>

                  <div class="bonus-simulator-btns clearfix">
                     <button scrollTo scrollTargetSelector="#top" class="btn btn-default bonus-simulator-btn bonus-simulator-btn-next" (click)="setComponent(2)">{{ 'global.next-button' | translate}}</button>
                  </div>

                  <ngb-accordion [closeOthers]="true" class="accordion">
                    <ngb-panel id="1">
                      <template ngbPanelTitle>
                        {{ 'founders-platinum-legs.faa-3-7' | translate}} <span class="svg-icon svg-icon-chevron"></span>
                      </template>
                      <template ngbPanelContent>
                        <p>{{ 'founders-platinum-legs.faa-3-8' | translate}}</p>
                        <p><a href="{{ 'global.help-pdf-url' | translate}}" target="_blank" title="Program guide link">{{ 'global.help-pdf-text' | translate}}</a></p>
                      </template>
                    </ngb-panel>
                  </ngb-accordion>
               </div>
            </div>
         </div>
         <div *ngSwitchCase="2">
            <div class="faa-points card bonus-simulator-card">
               <div class="card-block bonus-simulator-card-block">
                  <h4 class="text-uppercase text-condensed-font-family">{{ 'founders-platinum-legs.faa-3-1-intro-header' | translate}}</h4>
                  <p>{{ 'faa-points.faa-4-1' | translate}}</p>

                  <progress-indicator currentStep="2"></progress-indicator>
                  <h4 class="bonus-simulator-step-title hidden-lg-up">{{ 'global.faa-progress-bar-2' | translate}}</h4>

                  <h3>{{ 'faa-points.faa-4-2-title' | translate}}</h3>
                  <p>{{ 'faa-points.faa-4-2-body-1' | translate}}</p>
                  <p>{{ 'faa-points.faa-4-2-body-2' | translate}}</p>
                  <ul>
                    <li>{{ 'faa-points.faa-4-2-bullet-1' | translate}}</li>
                    <li>{{ 'faa-points.faa-4-2-bullet-2' | translate}}</li>
                  </ul>

                  <div class="faa-points-tab-container" id="faa-tabs">
                     <ngb-tabset #faatabs="ngbTabset" [activeId]="faaPointsSelectedTab" (tabChange)="setSelectedFaaTab($event)">
                        <ngb-tab id="tab-quick-input">
                           <template ngbTabTitle>{{ 'faa-points.faa-4-3-1' | translate }}</template>
                           <template ngbTabContent>
                              <div [innerHTML]="'faa-points.faa-4-4' | translate"></div>

                              <div class="faa-points-simple-container">
                                <div class="faa-points-simple-container-inner">
                                 <input id="faa-points-simple-input"
                                 maxlength="3"
                                 type="text"
                                 aria-label="FAA Points"
                                 class="form-control faa-points-input faa-points-simple-input"
                                 [ngClass]="{'error': !this.isSimpleFaaWithinRange && this.isSimpleFaaDirty }"
                                 OnlyNumber="true"
                                 #faaQuickInput="ngModel"
                                 (blur)="checkIsSimpleFaaWithinRange ( faaQuickInput.value, faaQuickInput )"
                                 (keyup)="checkIsSimpleFaaAboveLowThreshold( faaQuickInput.value )"
                                 [(ngModel)]="ffaPoints">

                                 <label class="faa-points-simple-input-label"
                                  for="faa-points-simple-input"
                                  [ngClass]="{'error': !this.isSimpleFaaWithinRange && this.isSimpleFaaDirty }">
                                  {{ 'faa-points.faa-4-4-1' | translate }}
                                 </label>

                                 <div class="error"
                                   role="alert"
                                   *ngIf="!this.isSimpleFaaWithinRange && this.isSimpleFaaDirty">
                                   {{ 'errors.faa-simple-input' | translate }}
                                  </div>
                                </div>
                              </div>

                              <div class="faa-points-simple-super-legs-container">
                                <div class="faa-points-simple-super-legs-container-inner">
                                 <input id="faa-points-simple-super-legs-input"
                                  min="1"
                                  max="99"
                                  maxlength="2"
                                  type="text"
                                  class="form-control faa-points-input faa-points-simple-super-legs-input"
                                  [disabled]="!((ffaPoints >= 150) && sliderValue >=12 )"
                                  aria-label="FAA Points"
                                  OnlyNumber="true"
                                  [(ngModel)]="SuperLegs">

                                 <label class="faa-points-simple-super-legs-input-label" for="faa-points-simple-super-legs-input">
                                  {{ 'faa-points.faa-4-10' | translate }}
                                 </label>

                               </div>
                               <p class="faa-points-simple-super-legs-input-note">{{ 'faa-points.faa-4-11' | translate }}</p>
                              </div>
                           </template>
                        </ngb-tab>

                        <ngb-tab id="tab-input-by-leg">
                           <template ngbTabTitle>{{ 'faa-points.faa-4-3-2' | translate }}</template>
                           <template ngbTabContent>

                             <!--/ begin table  /-->
                             <div class="faa-points-table">

                             <!--/ begin table header /-->
                              <div class="faa-points-table-row faa-points-table-desktop-border-bottom">
                                <div class="faa-points-table-cell-desktop faa-points-table-col-1 pb-2 hidden-sm-down">
                                  &nbsp;
                                </div>
                                <div class="faa-points-table-cell-desktop faa-points-table-col-2 pb-2">
                                  <div class="faa-points-table">
                                    <div class="faa-points-table-row">
                                      <div class="faa-points-table-cell faa-points-table-header faa-points-table-header-mobile faa-points-table-valign-bottom text-center faa-points-table-col-sub-1">
                                        {{ 'faa-points.faa-4-9-table-header-1' | translate }}
                                      </div>
                                      <div class="faa-points-table-cell faa-points-table-header faa-points-table-header-mobile faa-points-table-valign-bottom text-center faa-points-table-col-sub-2">
                                        {{ 'faa-points.faa-4-9-table-header-2' | translate }}
                                      </div>
                                      <div class="faa-points-table-cell faa-points-table-header faa-points-table-header-mobile faa-points-table-valign-bottom text-center faa-points-table-col-sub-3">
                                        {{ 'faa-points.faa-4-9-table-header-3' | translate }}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="faa-points-table-cell-desktop faa-points-table-header text-center faa-points-table-valign-bottom faa-points-table-col-3 pb-2 hidden-sm-down">
                                  {{ 'faa-points.faa-4-9-table-header-4' | translate }}
                                </div>
                              </div>
                              <!--/ end table header /-->

                              <!--/ begin table row /-->
                              <div class="faa-points-leg faa-points-table-row faa-points-table-desktop-border-bottom" *ngFor="let item of sliderValueArray; let i = index" >
                                <div class="faa-points-table-cell-desktop faa-points-table-row-header faa-points-table-desktop-border-right">
                                  <span [innerHtml]="'faa-points.faa-4-9-table-header-5' | translate"></span> <strong>#{{ i + 1 }}</strong>
                                </div>
                                <div class="faa-points-table-cell-desktop pt-2">
                                  <div class="faa-points-table">
                                    <div class="faa-points-table-row">
                                      <div class="faa-points-table-cell faa-points-table-col-sub-1 pb-1">
                                        <label for="faa-points-leg-{{i+1}}-fplats"
                                          class="faa-points-label faa-points-label-fplats"
                                          [ngClass]="{ 'error': faa_points_leg_fplats?.errors }">
                                            {{ 'faa-points.faa-4-9-table-label-1' | translate }}</label>
                                        <input value="0"
                                          min="0"
                                          max="6"
                                          maxlength="1"
                                          type="number"
                                          id="faa-points-leg-{{i+1}}-fplats"
                                          class="form-control faa-points-input"
                                          [ngClass]="{'error': faa_points_leg_fplats?.errors }"
                                          name="faa_points_leg_fplats"
                                          OnlyNumber="true"
                                          #faa_points_leg_fplats="ngModel"
                                          (ngModelChange)="totalValueChanged($event, i)"
                                          (keyup)="totalValueChanged($event, i)"
                                          [(ngModel)]="fplatArray[i]"/>
                                      </div>
                                      <div class="faa-points-table-cell faa-points-table-col-sub-2 text-center pb-1">
                                        <span class="faa-points-times">
                                          x
                                        </span>
                                        <span class="faa-points-multiplier">1</span>
                                        <span class="faa-points-equals">
                                          =
                                        </span>
                                      </div>
                                      <div class="faa-points-table-cell faa-points-table-col-sub-3 faa-points-point-total pb-1">
                                       <span *ngIf="!faa_points_leg_fplats?.errors">
                                          {{ (fplatArray[i] || 0 ) > 6 ? '6+' : (fplatArray[i] || 0 ) | myCurrency: '':myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'1':'':true:true }}
                                        </span>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="faa-points-table" *ngIf="faa_points_leg_fplats?.errors">
                                    <div class="faa-points-table-row">
                                      <div class="faa-points-table-cell">
                                        <p class="error">{{ 'faa-points.faa-4-error-fplats' | translate }}</p>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="faa-points-table">
                                    <div class="faa-points-table-row">
                                      <div class="faa-points-table-cell faa-points-table-cell-desktop faa-points-table-col-sub-1 pb-1">
                                        <label for="faa-points-leg-{{i+1}}-ebrs"
                                          class="faa-points-label"
                                          [ngClass]="{'error': faa_points_leg_ebrs?.errors }">
                                            {{ 'faa-points.faa-4-9-table-label-2' | translate }}</label>
                                        <input value="0"
                                          min="0"
                                          max="99"
                                          value="0"
                                          maxlength="2"
                                          type="number"
                                          id="faa-points-leg-{{i+1}}-ebrs"
                                          class="form-control faa-points-input"
                                          [ngClass]="{'error': faa_points_leg_ebrs?.errors }"
                                          name="faa_points_leg_ebrs"
                                          OnlyNumber="true"
                                          #faa_points_leg_ebrs="ngModel"
                                          (ngModelChange)="totalValueChanged($event, i);"
                                          (keyup)="totalValueChanged($event, i)"
                                          [(ngModel)]="ebrArray[i]" />
                                      </div>
                                      <div class="faa-points-table-cell faa-points-table-col-sub-2 text-center pb-1">
                                        <span class="faa-points-times">
                                          x
                                        </span>
                                        <span class="faa-points-multiplier">1{{ myCurrencyDecimalSeparator }}5</span>
                                        <span class="faa-points-equals">
                                          =
                                        </span>
                                      </div>
                                      <div class="faa-points-table-cell faa-points-table-col-sub-3 faa-points-point-total pb-1">
                                        <span *ngIf="!faa_points_leg_ebrs?.errors">
                                          {{(ebrArray[i] || 0) * 1.5 || 0 | myCurrency: '':myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'1':'':true:true }}
                                        </span>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="faa-points-table" *ngIf="faa_points_leg_ebrs?.errors">
                                    <div class="faa-points-table-row">
                                      <div class="faa-points-table-cell">
                                        <p class="error">{{ 'faa-points.faa-4-error-ebrs' | translate }}</p>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="faa-points-table">
                                    <div class="faa-points-table-row">
                                      <div class="faa-points-table-cell faa-points-table-cell-desktop faa-points-table-col-sub-1 pb-1">
                                        <label for="faa-points-leg-{{i+1}}-dbrs"
                                          class="faa-points-label"
                                          [ngClass]="{'error': faa_points_leg_dbrs?.errors }">
                                          {{ 'faa-points.faa-4-9-table-label-3' | translate }}
                                        </label>

                                        <input value="0"
                                          min="0"
                                          max="99"
                                          maxlength="2"
                                          type="number"
                                          id="faa_points_leg_{{i+1}}_dbrs"
                                          class="form-control faa-points-input"
                                          [ngClass]="{'error': faa_points_leg_dbrs?.errors }"
                                          name="faa_points_leg_dbrs"
                                          #faa_points_leg_dbrs="ngModel"
                                          OnlyNumber="true"
                                          (ngModelChange)="totalValueChanged($event, i);"
                                          (keyup)="totalValueChanged($event, i)"
                                          [(ngModel)]="dbrArray[i]" />
                                      </div>
                                      <div class="faa-points-table-cell faa-points-table-col-sub-2 text-center pb-1">
                                        <span class="faa-points-times">
                                          x
                                        </span>
                                        <span class="faa-points-multiplier">3</span>
                                        <span class="faa-points-equals">
                                          =
                                        </span>
                                      </div>
                                      <div class="faa-points-table-cell faa-points-table-col-sub-3 faa-points-point-total pb-1">
                                        <span *ngIf="!faa_points_leg_dbrs?.errors">
                                          {{(dbrArray[i] || 0) * 3 || 0 | myCurrency: '':myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'1':'':true:true }}
                                        </span>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="faa-points-table" *ngIf="faa_points_leg_dbrs?.errors">
                                    <div class="faa-points-table-row">
                                      <div class="faa-points-table-cell">
                                        <p class="error">{{ 'faa-points.faa-4-error-dbrs' | translate }}</p>
                                      </div>
                                    </div>
                                  </div>

                                </div>

                                <div class="clearfix faa-points-table-cell-desktop faa-points-table-col-3 faa-points-table-tracking faa-points-table-desktop-border-left">
                                  <span class="hidden-md-up faa-points-table-point-tracking-label-mobile">
                                    {{ 'faa-points.faa-4-9-table-header-4' | translate }}
                                  </span>
                                  <span class="faa-points-table-point-tracking-container" *ngIf="!faa_points_leg_fplats?.errors && !faa_points_leg_dbrs?.errors && !faa_points_leg_ebrs?.errors">

                                     <span class="icon icon-ribbon" *ngIf="(((fplatArray[i] || 0 ) >= 6 ? 6 : (fplatArray[i] || 0 )) + (((ebrArray[i]) || 0) *1.5) + (((dbrArray[i])||0) *3) || 0) >= 30"></span>
                                    <span class="faa-points-table-point-tracking">
                                      {{  (((fplatArray[i] || 0 ) >= 6 ? 6 : (fplatArray[i] || 0 )) + (((ebrArray[i]) || 0) *1.5) + (((dbrArray[i])||0) *3) || 0) >= 30 ? '30+' : (((fplatArray[i] || 0 ) >= 6 ? 6 : (fplatArray[i] || 0 )) + (((ebrArray[i]) || 0) *1.5) + (((dbrArray[i])||0) *3) || 0) | myCurrency: '':myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'1':'':true:true }}

                                    </span>
                                    <!--<input value="{{(fplatArray[i]) + ((ebrArray[i]) *1.5) + ((dbrArray[i]) *3)}}"/>-->
                                      <span class="faa-points-super-leg-label"  *ngIf="(((fplatArray[i] || 0 ) >= 6 ? 6 : (fplatArray[i] || 0 )) + (((ebrArray[i]) || 0) *1.5) + (((dbrArray[i])||0) *3) || 0) >= 30">{{ 'faa-points.faa-4-9-table-label-4' | translate }}</span>
                                  </span>
                                </div>

                              </div>
                              <button class="btn btn-primary mt-3"
                                *ngIf="sliderValue >=12"
                                (click)="addMoreLeg();">
                                  {{ 'faa-points.faa-4-17' | translate }}
                              </button>
                              <!--/ end table row /-->

                              <!--/ begin table footer row /-->
                              <div class="faa-points-table-footer faa-points-table-row">
                                <div class="faa-points-table-cell-desktop faa-points-table-col-1 hidden-sm-down">&nbsp;</div>
                                <div class="faa-points-table-cell-desktop faa-points-table-col-2 faa-points-table-footer-note">
                                  <strong>{{ 'faa-points.faa-4-7-1' | translate }}</strong> <em>{{ 'faa-points.faa-4-7-2' | translate }}</em>
                                </div>
                                <div class="faa-points-table-cell-desktop faa-points-table-col-3 faa-points-table-footer-total text-center">
                                  <span class="faa-points-grand-total-label">{{ 'faa-points.faa-4-9-table-label-5' | translate }}</span>
                                  <span class="faa-points-grand-total">{{ totalFaaPoint  | myCurrency: '':myCurrencyNumberSeparator:myCurrencyDecimalSeparator:'1':'':true:true }} </span>
                                </div>
                              </div>
                              <!--/ end table row /-->

                             </div>
                              <!--/ end table /-->
                           </template>
                        </ngb-tab>
                     </ngb-tabset>
                     <div class="row">
                        <div class="col-md-9">
                           <div id="collapseExample1" [ngbCollapse]="isCollapsedQuickInput">
                           </div>
                           <div id="collapseExample2" [ngbCollapse]="isCollapsedCalculateFAA">
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="hidden-md-up">
                    <button class="btn btn-primary bonus-simulator-btn"
                      [hidden]="faatabs.activeId == 'tab-input-by-leg'"
                      (click)="faatabs.select('tab-input-by-leg')"
                      scrollTo scrollTargetSelector="#faa-tabs">
                      {{ 'faa-points.faa-4-3-2' | translate }}</button>

                    <button class="btn btn-primary bonus-simulator-btn"
                      [hidden]="faatabs.activeId == 'tab-quick-input'"
                      (click)="faatabs.select('tab-quick-input')"
                      scrollTo scrollTargetSelector="#faa-tabs">
                      {{ 'faa-points.faa-4-3-1' | translate }}
                    </button>
                    <hr />
                  </div>

                  <div class="bonus-simulator-btns clearfix">
                     <button scrollTo scrollTargetSelector="#top" class="btn btn-default bonus-simulator-btn bonus-simulator-btn-back" (click)="setComponent(1)">{{ 'global.back-button' | translate}}</button>

                     <button scrollTo scrollTargetSelector="#top"
                      class="btn btn-default bonus-simulator-btn bonus-simulator-btn-next"
                      (click)="setComponent(3)"
                      [disabled]="(faatabs.activeId == 'tab-quick-input' && !this.isSimpleFaaWithinRange && !this.isSimpleFaaAboveLowThreshold) || (faatabs.activeId == 'tab-input-by-leg' && totalFaaPoint < 20)">
                        {{ 'global.next-button' | translate}}
                      </button>
                  </div>

                  <ngb-accordion [closeOthers]="true" class="accordion">
                    <ngb-panel id="1">
                      <template ngbPanelTitle>
                        {{ 'faa-points.faa-4-5' | translate}} <span class="svg-icon svg-icon-chevron"></span>
                      </template>
                      <template ngbPanelContent>
                        <p>{{ 'faa-points.faa-4-6-1' | translate}}</p>
                        <p><a href="{{ 'global.help-pdf-url' | translate}}" target="_blank" title="Program guide link">{{ 'global.help-pdf-text' | translate}}</a></p>
                      </template>
                    </ngb-panel>
                  </ngb-accordion>

               </div>
            </div>
             <reset-simulator></reset-simulator>
         </div>
         <div *ngSwitchCase="3">
            <div class="card bonus-simulator-card">
               <div class="card-block bonus-simulator-card-block">
                  <p>{{ 'monthly-core-plan.faa-5-1' | translate}}</p>

                  <progress-indicator currentStep="3"></progress-indicator>
                  <h4 class="bonus-simulator-step-title hidden-lg-up">{{ 'global.faa-progress-bar-3' | translate}}</h4>

                  <div class="projected-bonus-calculation">
                      <h3>{{ 'monthly-core-plan.faa-5-2' | translate}}</h3>
                      <p>{{ 'monthly-core-plan.faa-5-3' | translate}}</p>
                      <div class="row">
                         <div class="col-md-7">
                            <div class="form-group">
                               <div class="input-group projected-bonus-calculation-input-group">

                                  <span *ngIf="myCurrencyPrefix" class="input-group-addon projected-bonus-calculation-input-group-addon projected-bonus-calculation-currency-symbol"> {{ myCurrencyPrefix }}</span>

                                  <input
                                    myCurrencyFormatter
                                    maxlength="9"
                                    OnlyNumber="true"
                                    type="text"
                                    class="form-control form-control-lg projected-bonus-calculation-input"
                                    aria-label="Amount (to the nearest dollar)"
                                    prefix=""
                                    [numberSeparator]="myCurrencyNumberSeparator"
                                    [decimalSeparator]="myCurrencyDecimalSeparator"
                                    numberOfDecimalPlaces="0"
                                    suffix=""
                                    [(ngModel)]="gmcBonus">

                                  <span *ngIf="myCurrencySuffix" class="input-group-addon projected-bonus-calculation-input-group-addon projected-bonus-calculation-currency-symbol"> {{ myCurrencySuffix }}</span>
                                  <span class="input-group-addon projected-bonus-calculation-input-group-addon projected-bonus-calculation-input-group-addon-abbreviation"> {{  myCurrencyCode }}</span>
                               </div>
                            </div>
                            <p>{{ 'monthly-core-plan.faa-5-4' | translate}}</p>
                            <ol class="projected-bonus-calculation-help">
                               <li class="projected-bonus-calculation-help-step">
                                  <div class="media">
                                     <div class="mr-3">
                                        <p class="projected-bonus-calculation-help-step-label"><strong>{{ 'monthly-core-plan.faa-5-4-1-label' | translate}}</strong></p>
                                     </div>
                                     <div class="media-body">
                                        <p>{{ 'monthly-core-plan.faa-5-4-1-body' | translate}}</p>
                                     </div>
                                  </div>
                               </li>
                               <li class="projected-bonus-calculation-help-step">
                                  <div class="media">
                                     <div class="mr-3">
                                        <p class="projected-bonus-calculation-help-step-label"><strong>{{ 'monthly-core-plan.faa-5-4-2-label' | translate}}</strong></p>
                                     </div>
                                     <div class="media-body">
                                        <p>{{ 'monthly-core-plan.faa-5-4-2-body' | translate}}</p>
                                     </div>
                                  </div>
                               </li>
                               <li class="projected-bonus-calculation-help-step">
                                  <div class="media">
                                     <div class="mr-3">
                                        <p class="projected-bonus-calculation-help-step-label"><strong>{{ 'monthly-core-plan.faa-5-4-3-label' | translate}}</strong></p>
                                     </div>
                                     <div class="media-body">
                                        <p>{{ 'monthly-core-plan.faa-5-4-3-body' | translate}}</p>
                                     </div>
                                  </div>
                               </li>
                            </ol>
                         </div>
                      </div>
                  </div>

                  <div class="bonus-simulator-btns clearfix">
                     <button scrollTo scrollTargetSelector="#top" class="btn btn-default bonus-simulator-btn bonus-simulator-btn-back" (click)="setComponent(2)">{{ 'global.back-button' | translate}}</button>
                     <button scrollTo scrollTargetSelector="#top" class="btn btn-default bonus-simulator-btn bonus-simulator-btn-next" (click)="setComponent(4)" [disabled]="!(this.gmcBonus > 0)">{{ 'global.next-button' | translate}}</button>
                  </div>

                  <ngb-accordion [closeOthers]="true" class="accordion">
                    <ngb-panel id="1">
                      <template ngbPanelTitle>
                        {{ 'monthly-core-plan.faa-5-5' | translate}} <span class="svg-icon svg-icon-chevron"></span>
                      </template>
                      <template ngbPanelContent>
                        <p>{{ 'monthly-core-plan.faa-5-6' | translate}}</p>
                        <p><a href="{{ 'global.help-pdf-url' | translate}}" target="_blank" title="Program guide link">{{ 'global.help-pdf-text' | translate}}</a></p>
                      </template>
                    </ngb-panel>
                  </ngb-accordion>

               </div>
            </div>
             <reset-simulator></reset-simulator>
         </div>
         <div *ngSwitchCase="4">
            <div class="card bonus-simulator-card">
               <div class="card-block bonus-simulator-card-block">
                  <p>{{ 'projected-bonus.faa-6-1' | translate}}</p>

                  <progress-indicator currentStep="4"></progress-indicator>
                  <h4 class="bonus-simulator-step-title hidden-lg-up">{{ 'global.faa-progress-bar-4' | translate}}</h4>

                  <projected-bonus
                    [ProjectedMultiplier]="projected.Multiplier"
                    [ProjectedBonus] = "projected.Bonus"
                    [MonthlyBonus]="gmcBonus">
                  </projected-bonus>

                  <div class="bonus-simulator-btns clearfix">
                     <button scrollTo scrollTargetSelector="#top" class="btn btn-default bonus-simulator-btn bonus-simulator-btn-back" (click)="setComponent(3)">{{ 'global.back-button' | translate}}</button>
                     <button scrollTo scrollTargetSelector="#top" class="btn btn-default bonus-simulator-btn bonus-simulator-btn-start-over" (click)="setComponent(1)">{{ 'global.start-over-button' | translate}}</button>
                  </div>

                  <ngb-accordion [closeOthers]="true" class="accordion">
                    <ngb-panel id="1">
                      <template ngbPanelTitle>
                        {{ 'projected-bonus.faa-6-5' | translate}} <span class="svg-icon svg-icon-chevron"></span>
                      </template>
                      <template ngbPanelContent>
                        <div class="hidden-sm-down text-center mb-5" [innerHtml]="'projected-bonus.faa-7-img-multiplier-table-desktop' | translate"></div>
                        <div class="hidden-md-up text-center mb-5" [innerHtml]="'projected-bonus.faa-7-img-multiplier-table-mobile' | translate"></div>
                        <p><a href="{{ 'global.help-pdf-url' | translate}}" target="_blank" title="Program guide link">{{ 'global.help-pdf-text' | translate}}</a></p>
                      </template>
                    </ngb-panel>
                  </ngb-accordion>

               </div>
            </div>
             <reset-simulator></reset-simulator>
         </div>
      </div>
   </div>
</div>
