.bonus-simulator {
  background-color: $white;
  overflow-x: hidden;
  margin-left: -.9375rem;
  margin-right: -.9375rem;
  padding: 1.25rem;

  @include media-query-bp($bp3) {
    border: .0625rem solid $amway-grey-light;
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
  }

  &-step-title {
    color: $amway-green;
    font-family: $condensed-family;
    text-transform: uppercase;

    @include media-query-bp($bp4) {
      color: $black;
    }
  }

  &-card {
    background: $white;
    border: 0;

    @include media-query-bp($bp3) {
      border: .0625rem solid $amway-grey-medium;
      border-radius: .25rem;
    }

    &-block {
      padding-left: 0;
      padding-right: 0;

      @include media-query-bp($bp3) {
        padding: 1.25rem;
      }
    }
  }

  &-btns {
    display: flex;
    flex-direction: column;
    margin-bottom: .75rem;

    @include media-query-bp($bp3) {
      display: block;
    }
  }

  &-btn {
    display: block;
    font-family: $condensed-family;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: .75rem 2.625rem;
    text-align: center;
    width: 100%;

    @include media-query-bp($bp3) {
      display: inline-block;
      margin-bottom: .5rem;
      width: auto;
    }

    &-back {
      background-color: $amway-grey-medium;
      order: 2;

      @include media-query-bp($bp3) {
        float: left;
        padding-left: 2rem;
      }

      &:before {
        content: '\003c';
        display: inline-block;
        padding-right: .375rem;
      }
    }

    &-next,
    &-start-over {
      background-color: $amway-blue;
      color: $white;
      order: 1;
      padding-right: 2rem;

      @include media-query-bp($bp3) {
        float: right;
      }

      &:after {
        content: '\003e';
        display: inline-block;
        padding-left: .375rem;
      }
    }

    &-start-over {
      padding-right: 2.625rem;
      &:after {
        display: none;
      }
    }
  }
}
