.accordion {

  .card-header {
    font-family: $condensed-family;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 0 4% 0 0;
    position: relative;
    text-transform: uppercase;

    @include media-query-bp($bp3) {
      padding-right: 0;
      text-align: center;
    }

    &.active {
      .svg-icon-chevron {
        transform: scale(1,-1);
      }
    }

    .svg-icon-chevron {
      display: inline-block;
      margin-left: .1875rem;
      position: absolute;
      right: 2.5%;
      margin-top: -.5rem;
      top: 50%;

      @include media-query-bp($bp3) {
        margin-top: 0;
        position: relative;
        right: auto;
        top: auto;
      }
    }

    a {
      color: $black;
      display: block;
      padding: .625rem;

      @include media-query-bp($bp3) {
        padding: .75rem 1.25rem;
      }
    }
  }

}
