/*
  Note: due to the complexity of styling the same table content for desktop and mobile,
  there are instances where desktop-first or mobile specific styling is used, instead of mobile-first.
*/
.faa-points {
  .nav-tabs {
    display: none;

    @include media-query-bp($bp3) {
      display: flex;
    }

    @include ie-11-only() {
      position: relative;
      z-index: 10;
    }

    .nav-link {
      &.active {
        border-color: $amway-grey-dark $amway-grey-dark transparent;
      }
    }

  }

  .tab-pane {
    border-color: $amway-grey-dark;
  }

  &-tab-container {
    margin-bottom: 1.25rem;
  }

  &-input {
    background: $amway-grey-light;
    border-color: $amway-grey-medium;
    border-radius: 0;
    display: inline-block;
    font-family: $condensed-family;
    font-weight: 700;
    margin-bottom: .25rem;
    margin-left: .3125rem;
    margin-right: 1.25rem;
    width: 3.25rem;

    @include media-query-bp($bp3) {
      width: 2.375rem;
    }
  }

  &-simple {
    &-container {
      margin: 1rem auto 0;
      padding: 1rem;
      text-align: center;

      &-inner {
        margin: 0 auto;
        text-align: left;
        width: 20rem;
      }
    }

    &-input {
      font-size: 1.9375rem;
      font-weight: 700;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      width: 4.3675rem;

      &-label {
        display: inline-block;
        font-size: 1.125rem;
        font-weight: 700;
        vertical-align: middle;
      }

      &-error {

      }
    }
  }

  &-simple-super-legs {
    &-container {
      margin: 1rem auto 0;
      padding: 0 1rem;
      text-align: center;

      &-inner {
        margin: 0 auto;
        text-align: left;
        width: 20rem;
      }
    }

    &-input {
      display: inline-block;
      font-size: 1.9375rem;
      font-weight: 700;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      vertical-align: middle;
      width: 4.3675rem;

      &[disabled] {
        color: transparent;
      }

      &-label {
        display: inline-block;
        font-size: 1.125rem;
        font-weight: 700;
        vertical-align: middle;
      }

      &-note {
        margin: 1rem auto;
        text-align: left;

        @include media-query-bp($bp3) {
          width: 50%;
        }
      }
    }
  }

  &-leg {
    border-bottom: .0625rem solid $amway-grey-medium;

    @include media-query-bp($bp3) {
      border-bottom: none;
    }

    &:nth-child(odd) {
      @include media-query-bp($bp3) {
        background-color: $amway-grey-light;
      }
    }
  }

  &-label {
    display: block;
    margin-bottom: .125rem;

    @include media-query-bp($bp3) {
      display: inline-block;
      width: 3rem;
    }
  }

  &-times {
    left: 0;
    position: absolute;
  }

  &-equals {
    position: absolute;
    right: 0;
  }

  @include ie-11-only () {
    &-times,
    &-equals {
      display: inline-block;
      position: relative;
      vertical-align: middle;
    }
    &-times {
      float: left;
    }
    &-equals {
      float: right;
    }
  }

  &-point-total {
    text-align: center;
  }

  &-grand-total {
    font-family: $condensed-family;
    font-size: 1.9375rem;
    font-weight: 700;

    &-label {
      display: block;
      font-family: $condensed-family;
      font-size: .875rem;
      text-transform: uppercase;
    }
  }

  &-super-leg-label {
    display: block;
    font-family: $sans-serif-family;
    font-size: .875rem;
  }

  &-table {
    border-collapse: collapse;
    display: table;
    font-size: .875rem;
    line-height: 1.2;
    width: 100%;

    .faa-points-input {
      font-size: 1rem;
      margin: 0 0 .25rem;
      padding-bottom: .25rem;
      padding-top: .25rem;

      @include media-query-bp($bp3) {
        margin: 0 1.25rem .25rem .3125rem;
      }
    }

    &-header {
      font-family: $condensed-family;
      font-size: .75rem;
      font-weight: 700;
      text-transform: uppercase;

      &-mobile {
        @include media-query-bp($bp3 - 1, 'max') {
          background-color: $amway-grey;
          color: $white;
          padding-bottom: 1rem;
          padding-top: 1rem;
        }
      }
    }

    &-col {
      &-1 {
        @include media-query-bp($bp3) {
          width: 27%;
        }
      }

      &-2 {
        @include media-query-bp($bp3) {
          width: 45%;
        }
      }

      &-3 {
        @include media-query-bp($bp3) {
          width: 28%;
        }
      }

      &-sub {
        &-1 {
          width: 30%;

          @include media-query-bp($bp3) {
            width: 39%;
          }
        }

        &-2 {
          width: 40%;

          @include media-query-bp($bp3) {
            width: 34%;
          }
        }

        &-3 {
          width: 30%;

          @include media-query-bp($bp3) {
            width: 27%;
          }
        }
      }
    }

    // some elements display as table cells on all devices
    &-cell {
      display: table-cell;
      font-weight: 600;
      padding-left: 1rem;
      padding-right: 1rem;
      position: relative;
      vertical-align: middle;
    }

    // some elements only display as table cells on large devices
    &-cell-desktop {
      @include media-query-bp($bp3) {
        display: table-cell;
        font-weight: 600;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
        vertical-align: middle;
      }
    }

    &-row {
      display: table-row;

      &-header {
        font-size: 1.125rem;
        font-weight: 400;
        padding: .5rem 1.25rem;

        @include media-query-bp($bp3 - 1, 'max') {
          display: block;
          padding-left: 1rem;
          padding-right: 1rem;

          br {
            display: none;
          }
        }
      }
    }

    &-footer {
      border-bottom: .0625rem solid $amway-grey-medium;

      @include media-query-bp($bp3) {
        border-bottom: 0;
      }

      &-total {
        padding-bottom: 1rem;
        padding-top: 1rem;

        @include media-query-bp($bp3 - 1, 'max') {
          display: inline-block;
          padding: 1rem .5rem 1rem 0;
          vertical-align: middle;
          width: 30%;
        }
      }

      &-note {
        font-size: .875rem;
        font-weight: 400;
        padding-right: .5rem;
        text-align: right;

        @include media-query-bp($bp3 - 1, 'max') {
          display: inline-block;
          padding-bottom: 1rem;
          padding-top: 1rem;
          text-align: left;
          vertical-align: middle;
          width: 70%;
        }
      }
    }

    &-tracking {
      font-family: $condensed-family;
      font-size: 1.75rem;
      font-weight: 300;
      text-align: right;
      padding: .5rem 1rem;

      @include media-query-bp($bp3) {
        padding: .5rem 1.25rem;
        text-align: center;
      }
    }

    &-point-tracking {

      &-label-mobile {
        display: inline-block;
        font-family: $condensed-family;
        font-size: .75rem;
        font-weight: 700;
        margin-right: .25rem;
        padding-top: .125rem;
        text-align: right;
        text-transform: uppercase;
        width: 40%;
      }

      &-container {
        float: right;
        text-align: center;

        @include media-query-bp($bp3) {
          float: none;
        }
      }
    }

    &-total {
      font-family: $condensed-family;
      font-size: 1.75rem;
      font-weight: normal;

      &-note {
        font-family: $sans-serif-family;
        font-size: .875rem;
      }
    }

    &-valign {
      &-top {
        vertical-align: top;
      }

      &-bottom {
        vertical-align: bottom;
      }
    }

    &-desktop{
      &-border {
        &-left {
          @include media-query-bp($bp3) {
            border-left: .0625rem solid $amway-grey-medium;
          }
        }

        &-right {
          @include media-query-bp($bp3) {
            border-right: .0625rem solid $amway-grey-medium;
          }
        }

        &-top {
          @include media-query-bp($bp3) {
            border-top: .0625rem solid $amway-grey-medium;
          }
        }

        &-bottom {
          @include media-query-bp($bp3) {
            border-bottom: .0625rem solid $amway-grey-medium;
          }
        }
      }
    }
  }
}

@include media-query-bp($bp3) {
  .language-ukrainian {
    .faa-points-label-fplats {
      display: block;
      width: auto;
    }
    .faa-points-input {
      float: right;
    }
  }
}