$font-path: '/assets/fonts/';

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-ExtraLight.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-ExtraLightIt.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-Light.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-Light.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-Light.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-LightIt.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-LightIt.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-It.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-It.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-It.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-Semibold.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-Semibold.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-SemiboldIt.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-Bold.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-BoldIt.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-BoldIt.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-BoldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-Black.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-Black.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-Black.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('#{$font-path}source-sans-pro/EOT/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
         url('#{$font-path}source-sans-pro/WOFF2/TTF/SourceSansPro-BlackIt.ttf.woff2') format('woff2'),
         url('#{$font-path}source-sans-pro/WOFF/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'),
         url('#{$font-path}source-sans-pro/OTF/SourceSansPro-BlackIt.otf') format('opentype'),
         url('#{$font-path}source-sans-pro/TTF/SourceSansPro-BlackIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}roboto-condensed/woff2/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-condensed/woff/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}roboto-condensed/woff2/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-condensed/woff/robotocondensed-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}roboto-condensed/woff2/robotocondensed-italic-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-condensed/woff/robotocondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}roboto-condensed/woff2/robotocondensed-light-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-condensed/woff/robotocondensed-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}roboto-condensed/woff2/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-condensed/woff/robotocondensed-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('#{$font-path}roboto-condensed/woff2/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}roboto-condensed/woff/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
