// ========================================================
// VARIABLES
// ========================================================

// MEDIA QUERY BREAKPOINTS
// 0-319px - the unspoken $bp-1 / applied by default
// 320px 	  32rem
// 768px 	  76.8rem
// 1000px 	100rem
// 1280px	  128rem
//
// NOTE- Ideally these would be set in rems, butfor some reason,
// setting the breakpoints as rems causes $bp5 to never be triggered
//
$bp2: 320px; // 32rem
$bp3: 768px; // 76.8rem
$bp4: 1000px; // 100rem
$bp5: 1280px; // 128rem

// Colors
$white:                 #FFF;
$black:                 #000;
$error:                 #A94442;
$amway-orange:          #E99518;
$amway-blue:            #0075A4;
$amway-blue-dark:       #002E5F;
$amway-red:             #f81B50;
$amway-green:           #21883F;
$amway-green-light:     #D1E6D7;
$amway-grey-dark:       #2F2F2F;
$amway-grey:            #57565b;
$amway-grey-medium:     #A7A7A7;
$amway-grey-light:      #ECEEEF;
$amway-grey-lightest:   #F1F1F1;

// Typography
$sans-serif-family: 'Source Sans Pro', Arial, Verdana, Helvetica;
$condensed-family: 'Roboto Condensed', 'Arial Narrow', Arial, Verdana, Helvetica;

// text color classes
// "classname": $variable
$colors: ("white": $white,
          "black": $black,
          "amway-orange": $amway-orange,
          "amway-blue": $amway-blue,
          "amway-blue-dark": $amway-blue-dark,
          "amway-red": $amway-red,
          "amway-green": $amway-green,
          "amway-grey-dark": $amway-grey-dark,
          "amway-grey": $amway-grey,
          "amway-grey-medium": $amway-grey-medium,
          "amway-grey-light": $amway-grey-light);

@each $color, $color-var in $colors {
    .text-#{$color} {
      color: $color-var;
    }
}

@each $color, $color-var in $colors {
    .background-#{$color} {
      background-color: $color-var;
    }
}
