body {
  background-color: $amway-grey-lightest;
  color: $amway-grey-dark;
  font-family: $sans-serif-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif-family;
  font-weight: 600;
}

button {
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

input {
  &[type="number"] {
    padding-left: .25rem;
    padding-right: 0;
  }

  &[disabled] {
    border-color: transparent;
    opacity: .5;

    &~ label {
      color: $amway-grey;
    }
  }

  &.error,
  &.error:active,
  &.error:focus {
    background-color: lighten($error, 50%);
    border-color: $error;
  }
}

.error {
  color: $error;
}

.text-condensed-font-family {
  font-family: $condensed-family;
}

.text-aside {
  color: $amway-grey;
  font-style: italic;

  @include media-query-bp($bp3) {
    font-size: 1.125rem;
  }
}

.svg-icon {
  background-repeat: no-repeat;
  background-size: contain;
  height: 3.9375rem;
  width: 3.75rem;

  &-rotate {
    &-90deg {
      transform: rotate(90deg);
    }
  }

  &-flip {
    &-vertical-only {
      transform: scale(1,-1);
    }

    &-horizontal-only {
      transform: scale(-1,1);
    }

    &-horizontal-and-vertical {
      transform: scale(-1,-1);
    }
  }

  &-arrow {
    background-image: url(/assets/icon-arrow.svg);
    height: 3.75rem;
  }

  &-calendar {
    background-image: url(/assets/icon-calendar.svg);
  }

  &-moneybag {
    background-image: url(/assets/icon-moneybag.svg);
  }

  &-multiplier {
    background-image: url(/assets/icon-multiplier.svg);
  }

  &-chevron {
    background-image: url(/assets/icon-chevron.svg);
    background-position: center center;
    height: .625rem;
    width: .75rem;
  }

  &-cog {
    background-image: url(/assets/icon-cog.svg);
    display: inline-block;
    height: 1.125rem;
    width: 1.125rem;
  }

  &-i {
    background-image: url(/assets/icon-i.svg);
    display: inline-block;
    height: 1rem;
    width: 1rem;
  }

}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;

  &-ribbon {
    background-image: url(/assets/icon-ribbon.png);
    background-position: center center;
    height: 1.5rem;
    width: 1rem;
  }
}

.btn {
  border-radius: 0;
  white-space: normal;

  &-primary {
    background-color: $amway-blue;
    border-width: 0;
    color: $white;
    font-family: $condensed-family;
    font-weight: 700;
    padding-left: 2.625rem;
    padding-right: 2.625rem;
  }
}