.modal {
  label {
    font-size: .875rem;
    font-weight: 600;
  }

  &-header {
    background-color: $amway-grey-lightest;
    border-radius: .3rem .3rem 0 0;

    &-no-text {
      min-height: 1rem;
    }
  }

  &-title {
    font-family: $condensed-family;
    font-size: 1.125rem;
  }
  .btn-primary {
    padding-right: 2rem;

    &:after {
      content: '\003e';
      display: inline-block;
      padding-left: .375rem;
    }
  }
}

.video {
  &-modal {
    &-close {
      position: absolute;
      right: .5rem;
      top: .125rem;

      @include ie-11-only () {
        top: .25rem;
      }
    }

    &-body {
      padding: 0;
    }
  }
}