[role="tabpanel"] {
  .tab-pane {
    border-color: $amway-grey-dark;
    @include media-query-bp($bp3) {
      border-radius: 0 .25rem .25rem .25rem;
      border: .0625rem solid $amway-grey-dark;
      padding: 1.5rem 1rem .5rem;
    }
  }

  .nav {
    &-tabs {
      border-color: $amway-grey-dark;
      border-bottom: transparent;
    }

    &-item {
      margin-right: .0625rem;
    }

    &-link {
      background-color: $white;
      border: .0625rem solid $amway-grey-dark;
      color: $black;

      &:not(.active):hover {
        background-color: $amway-grey-light;
        border-color: $amway-grey-dark;
      }

      &.active {
        background-color: $amway-blue-dark;
        color: $white;
        cursor: default;
      }
    }
  }
}