<div class="founder-platinum-legs-slider">
  <h3 class="founder-platinum-legs-slider-header">{{ 'founders-platinum-legs.faa-3-4' | translate}}</h3>
  <div class="founder-platinum-legs-slider-display-container">

    <div class="founder-platinum-legs-slider-display">{{fplDisplayValue}}</div>

    <button class="founder-platinum-legs-slider-incrementer founder-platinum-legs-slider-incrementer-subtract" (click)="decrementValue()" [disabled]="isMin()">-</button>

    <button class="founder-platinum-legs-slider-incrementer founder-platinum-legs-slider-incrementer-add" (click)="incrementValue()" [disabled]="isMax()">+</button>
  </div>
  <input class="founder-platinum-legs-slider-range"
    type="range"
    min="4"
    max="12"
    step="1"
    [defaultValue]="minFPLRange"
    value="{{fplslider.value}}"
    #fplslider
    (change)="updateDisplay(fplslider.value)"
    [(ngModel)]="this.fplSliderValue">

  <ul class="founder-platinum-legs-slider-hashmarks clearfix">
    <li class="founder-platinum-legs-slider-hashmark text-left"
      [ngClass]="{'founder-platinum-legs-slider-hashmark-active': isCurrentValueEqual(4)}">
      <span class="founder-platinum-legs-slider-hashmark-target" (click)="updateDisplay(4)">4</span>
    </li>
    <li class="founder-platinum-legs-slider-hashmark"
      [ngClass]="{'founder-platinum-legs-slider-hashmark-active': isCurrentValueEqual(5)}">
        <span class="founder-platinum-legs-slider-hashmark-target" (click)="updateDisplay(5)">5</span>
    </li>
    <li class="founder-platinum-legs-slider-hashmark"
      [ngClass]="{'founder-platinum-legs-slider-hashmark-active': isCurrentValueEqual(6)}">
        <span class="founder-platinum-legs-slider-hashmark-target" (click)="updateDisplay(6)">6</span>
    </li>
    <li class="founder-platinum-legs-slider-hashmark"
      [ngClass]="{'founder-platinum-legs-slider-hashmark-active': isCurrentValueEqual(7)}">
      <span class="founder-platinum-legs-slider-hashmark-target" (click)="updateDisplay(7)">7</span>
    </li>
    <li class="founder-platinum-legs-slider-hashmark"
     [ngClass]="{'founder-platinum-legs-slider-hashmark-active': isCurrentValueEqual(8)}">
     <span class="founder-platinum-legs-slider-hashmark-target" (click)="updateDisplay(8)">8</span>
    </li>
    <li class="founder-platinum-legs-slider-hashmark"
     [ngClass]="{'founder-platinum-legs-slider-hashmark-active': isCurrentValueEqual(9)}">
      <span class="founder-platinum-legs-slider-hashmark-target" (click)="updateDisplay(9)">9</span>
    </li>
    <li class="founder-platinum-legs-slider-hashmark"
      [ngClass]="{'founder-platinum-legs-slider-hashmark-active': isCurrentValueEqual(10)}">
      <span class="founder-platinum-legs-slider-hashmark-target" (click)="updateDisplay(10)">10</span>
    </li>
    <li class="founder-platinum-legs-slider-hashmark"
     [ngClass]="{'founder-platinum-legs-slider-hashmark-active': isCurrentValueEqual(11)}">
     <span class="founder-platinum-legs-slider-hashmark-target" (click)="updateDisplay(11)">11</span>
    </li>
    <li class="founder-platinum-legs-slider-hashmark"
     [ngClass]="{'founder-platinum-legs-slider-hashmark-active': isCurrentValueEqual(12)}">
     <span class="founder-platinum-legs-slider-hashmark-target" (click)="updateDisplay(12)">12+</span>
    </li>
  </ul>

  <div class="row justify-content-between">
    <div class="col-md-4">
      <div class="media">
        <div class="mr-2 hidden-sm-down svg-icon svg-icon-arrow svg-icon-flip-vertical-only"></div>
        <div class="media-body">
          <p class="text-aside founder-platinum-legs-slider-aside-1">{{ 'founders-platinum-legs.faa-3-5' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="media">
        <div class="media-body">
          <p class="text-aside founder-platinum-legs-slider-aside-2">{{ 'founders-platinum-legs.faa-3-6' | translate}}</p>
        </div>
        <div class="ml-2 hidden-sm-down svg-icon svg-icon-arrow svg-icon-flip-horizonta-and-vertical svg-icon-flip-horizontal-and-vertical"></div>
      </div>
    </div>
  </div>
</div>