.founder-platinum-legs-slider {
  padding: 2rem 0;

  @include media-query-bp($bp3) {
    margin-bottom: 2rem;
  }

  &-header {
    margin-bottom: 1.5rem;
  }

  &-range {
    display: none;

    // NOTE: input range styles are located in _mixins.scss.
    // this prevents the range from peeking out from behind the knob at the lower and upper end of the range
    @include media-query-bp($bp3) {
      &[type='range'] {
        display: block;
        margin-top: 2rem;
        position: relative;
        z-index: 5;

        &:before {
          background-color: $white;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: .25rem;
        }

        &:after {
          background-color: $white;
          content: '';
          display: block;
          height: 100%;
          right: 0;
          position: absolute;
          top: 0;
          width: .25rem;
        }
      }
    }
  }

  &-aside {
    &-1 {
      @include media-query-bp($bp3) {
        margin-top: 2.625rem;
      }
    }

    &-2 {
      @include media-query-bp($bp3) {
        margin-top: 2.625rem;
        text-align: right;
      }
    }
  }

  &-hashmarks {
    display: none;
    margin-left: 0;
    margin-right: 0;

    @include media-query-bp($bp3) {
      display: block;
      font-family: $condensed-family;
      font-size: 1.3125rem;
      font-weight: normal;
      list-style: none;
      margin-bottom: 1rem;
      margin-left: .625rem;
      padding: 0;
      position: relative;
      width: 107.7%;
    }

    @include media-query-bp($bp4) {
      margin-left: .8125rem;
    }
  }

  &-hashmark {
    float: left;
    position: relative;
    width: 11%; // this works better on smaller sizes for some reason

    @include media-query-bp($bp4) {
      width: (100% / 9);
    }

    &-active {
      font-size: 2rem;
      margin-top: -.4375rem;
    }

    &-target {
      cursor: pointer;
      position: relative;
    }


    &-active {
      position: relative;

      // targets double digit numbers
      &:nth-child(n + 7) {
        left: 0;

        .founder-platinum-legs-slider-hashmark-target {
          left: -.8125rem;

          @include media-query-bp($bp4) {
            left: -.375rem;
          }
        }
      }

      &:first-child {
        padding-left: .5%;

        @include media-query-bp($bp4) {
          padding-left: 0;
        }
      }

      &:last-child {
        .founder-platinum-legs-slider-hashmark-target {
          left: -25%;
        }
        @include media-query-bp($bp4) {
          .founder-platinum-legs-slider-hashmark-target {
            left: -16.5%;
          }
        }
      }

      .founder-platinum-legs-slider-hashmark-target {
        left: -.5%;
      }
    }
  }

  &-display {
    background-color: $amway-grey-medium;
    border-radius: 0;
    color: white;
    font-family: $condensed-family;
    font-size: 1.75rem;
    margin: 0 auto 1.5rem;
    padding: .375rem 0 .25rem;
    position: relative;
    text-align: center;
    z-index: 1;

    &-container {
      margin: 0 auto;
      position: relative;
      width: 80%;

      @include media-query-bp($bp3) {
        display: none;
      }
    }
  }

  &-incrementer {
    border: .1875rem solid $white;
    border-radius: 100%;
    color: $white;
    font-size: 1.5rem;
    height: 2.5rem;
    line-height: 1;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    text-align: center;
    top: .4rem;
    width: 2.5rem;

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: $amway-grey-light;
    }

    &-add {
      background-color: $amway-blue;
      right: -1.125rem;
      z-index: 5;

      &:hover,
      &:active {
        opacity: 1;

        &:not(:disabled) {
          background-color: lighten($amway-blue, 20%);
        }
      }
    }

    &-subtract {
      background-color: $amway-grey;
      left: -1.125rem;
      z-index: 5;

      &:hover,
      &:active{
        opacity: 1;
        &:not(:disabled) {
          background-color: lighten($amway-grey, 20%);
        }
      }
    }
  }
}
